{% import "../../shared/effect/effect1/effect1.twig" as effect1 %}
{% import "../../shared/effect/effect2/effect2.twig" as effect2 %}
{% import "../../shared/effect/effect3/effect3.twig" as effect3 %}
{% import "../../shared/effect/effect4/effect4.twig" as effect4 %}
{% import "../../shared/effect/effect5/effect5.twig" as effect5 %}
{% import "../../shared/effect/effect6/effect6.twig" as effect6 %}
{% import "../../shared/effect/effect7/effect7.twig" as effect7 %}
{% import "../../shared/effect/effect8/effect8.twig" as effect8 %}


<section class="page-section">
	<div class="container">
		<h3>Lily</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect1.render()}}
			</div>
			<div class="col-lg-4">
				{{effect1.render()}}
			</div>
		</div>
		<h3>Honey</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect2.render()}}
			</div>
			<div class="col-lg-4">
				{{effect2.render()}}
			</div>
		</div>
		<h3>Marley</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect3.render()}}
			</div>
			<div class="col-lg-4">
				{{effect3.render()}}
			</div>
		</div>
		<h3>Sarah</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect4.render()}}
			</div>
			<div class="col-lg-4">
				{{effect4.render()}}
			</div>
		</div>
		<h3>Ruby</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect5.render()}}
			</div>
			<div class="col-lg-4">
				{{effect5.render()}}
			</div>
		</div>
		<h3>Roxy</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect6.render()}}
			</div>
			<div class="col-lg-4">
				{{effect6.render()}}
			</div>
		</div>
		<h3>Chico</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect7.render()}}
			</div>
			<div class="col-lg-4">
				{{effect7.render()}}
			</div>
		</div>
		<h3>Milo</h3>
		<div class="row">
			<div class="col-lg-4">
				{{effect8.render()}}
			</div>
			<div class="col-lg-4">
				{{effect8.render()}}
			</div>
		</div>
	</div>

</section>
